@{
  Layout = "_Layout";
}

<h1>Hey Pierre, welcome to your Vendor tracker site!</h1>
<p>Here you can add vendors and orders for those vendors and keep track of them. Isn't that great?
</p>
<h3><a href='/vendors'>View vendors</a></h3>
<h3><a href='/vendors/new'>Add a new vendor</a></h3>